body{
   background-color: rgb(255, 255, 255);
}
#qw{
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    color: rgb(57, 109, 207);
    font-size:50px; 
    text-shadow: black 2px 4px 4px;
}
.we{
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
    font-style: italic;
    color: rgb(182, 60, 60);
    text-shadow: black 1px 1px 1px;
}
#categ{
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(131, 32, 170);
    font-size: 30pt;
    font-weight: 400;
    font-style: italic;
    font-style: oblique;
}
td p{
    font-size: 27px;
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 71, 171);
    text-align: center;
    font-weight: 500;
}
td{
    transition: 0.3s;
}
td img:hover {
    transition: 0.8s;
    transform: scale(1.02);
}
td img{
    width: 95%;
    border-radius: 40px;
    box-shadow: -20px 6px 20px rgb(112, 41, 99);
}
.curveback{
    background-color: white;
}

/* FOR text effect all CSS here  */

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.container h1:nth-child(1) {
  color: #355c7d;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 30px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 180px;
  animation: type 2s steps(40,end) forwards;
}

.container h1:nth-child(2) {
  opacity: 0;
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  font-weight: 800;
  font-size: 100px;  
  width: 560px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
